include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/dvrpc_gis_harvester *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/dvrpc_gis_harvester/migration *.ini *.py *.mako
